<h1> <%= @restaurant.name %></h1>
<h4> <i><%= @restaurant.category %> </i></h4>
<h3> <%= @restaurant.address %></h3>
<h4> <%= @restaurant.phone_number %></h4>

<%= link_to new_restaurant_review_path(@restaurant) do %>
  <i class="fas fa-plus"></i> Add a Review
<% end %>

<%= link_to restaurants_path, id:"next" do %>
  <i class="fas fa-undo-alt"></i> Back to Restaurants
<% end %>
